

  <a class="back-link" href="home">← Back</a>
  <img src="https://assets.upstox.com/content/assets/images/cms/2024314/coforge.webp" alt="Logo" class="top-right-logo" />

  <div class="card-container">
    <div class="comment-card">
      <div class="comment-left">
        <h2>Add Comment</h2>

        <div class="form-group">
          <input type="number" id="ticketId" [(ngModel)]="ticketId" required />
          <label for="ticketId">Ticket ID</label>
        </div>

        <div class="form-group">
          <input type="text" id="commenterName" [(ngModel)]="commenterName" required />
          <label for="commenterName">Your Name</label>
        </div>

        <div class="form-group">
          <textarea id="commentText" [(ngModel)]="commentText" required></textarea>
          <label for="commentText">Comment</label>
        </div>

        <button (click)="submitComment()" [disabled]="loading">Submit</button>

        <p class="loading" *ngIf="loading">Submitting comment...</p>
        <p class="error" *ngIf="isError">{{ errorMsg }}</p>
        <p class="success" *ngIf="successMsg">{{ successMsg }}</p>
      </div>

      <div class="comment-right">
        <img src="https://previews.123rf.com/images/rastudio/rastudio2211/rastudio221100203/193897277-software-tester-isolated-cartoon-vector-illustrations.jpg" alt="Illustration" />
      </div>
    </div>
  </div>

  <footer>
    <p>© 2025 Department Ticketing System | Version 1.0</p>
</footer>
