<!-- <h2>Employee Dashboard</h2>

<a href="/raise-ticket">Raise Ticket</a><br/><br/>
<a href="/view-tickets">View My Tickets</a><br/><br/>
<a href="/cancel-ticket">Cancel Ticket</a><br/><br/>
<a href="/give-feedback">Give Feedback</a> -->

<div class="dashboard-wrapper">
  <div class="dashboard-card">
    <div class="dashboard-header">
      <h2>Employee Dashboard</h2>
    </div>

    <div class="card-grid">
      <div class="card"><a routerLink="/raise-ticket">Raise Ticket</a></div>
      <div class="card"><a routerLink="/view-tickets">View My Tickets</a></div>
      <div class="card"><a routerLink="/cancel-ticket">Cancel Ticket</a></div>
      <div class="card"><a routerLink="/give-feedback">Give Feedback</a></div>
    </div>
  </div>
</div>


